@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.ProseMirror {
  min-height: 400px;
  outline: none;
}

.ProseMirror h1 {
  font-size: 2rem;
  font-weight: 700;
}

.ProseMirror h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

.ProseMirror h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.ProseMirror ul {
  list-style: disc;
  padding-left: 20px;
}

.ProseMirror p {
  margin-bottom: 12px;
}